<footer class="bg-dark text-light py-4">
    <div class="container text-center">
        <p>Sponsors :</p>
        <img src="/path/to/logo1.png" alt="Sponsor 1" class="mx-2">
        <img src="/path/to/logo2.png" alt="Sponsor 2" class="mx-2">
    </div>
</footer>
